a img {
	border: 0;	
}

/*
	Editor Wrapper
*/
#editorWrapper {
	width: 700px;
	overflow: hidden;
	position: relative;
	margin: auto;
}

/*
	The generated textarea
*/
#editorWrapper textarea {
	width: 90%;
	height: 250px;
	border: 0;
	background: white;
	padding: 20px;
	font: 15px Georgia, "Times New Roman", Times, serif;
	color: #696969;
	outline: 0;
	resize: vertical;
}

/*
	Icons toolbar
*/
#editorToolbar {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

#editorToolbar a img {
	cursor: pointer;	
}

/*
	Icons and Smileys
*/
#editorIcons, #editorSmileys {
	margin: 0;
	padding: 8px 15px 0 15px;
	background: #d4dde3;
	float: left;
	list-style-type: none;
	height: 25px;
	border-radius: 10px 10px 0 0;
}

#editorIcons {
	margin-right: 10px;
}

#editorSmileys {
	background: #dae2e8;
}

#editorIcons li, #editorSmileys li {
	display: inline;
	margin: 0 6px;
}

/*
	Shadows container
*/
#editorShadow {
	overflow: hidden;
	margin-top: -5px;
}

/*
	Middle shadow.
	Width is set by Javascript
*/
#editorShadow #shadow-middle {
	height: 29px;
	background: url(images/shadow.png) repeat-x;
	float: left;
}

/*
	Left and right shadows
*/
#editorShadow #shadow-left, #editorShadow #shadow-right {
	height: 29px;
	width: 158px;
}

#editorShadow #shadow-left {
	background: url(images/shadow-left.png) no-repeat;
	float: left;
}

#editorShadow #shadow-right {
	background: url(images/shadow-right.png) no-repeat;
	float: left;
}

/*
	Font size menu
*/
#editorFont {
	margin: 0;
	padding: 10px;
	width: 100px;
	font: 13px Arial, Helvetica, sans-serif;
	background: #d4dde3;
	color: #54778e;
	list-style-type: none;
	position: absolute;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

#editorFont li {
	margin-bottom: 5px;	
}

#editorFont li a {
	cursor: pointer;	
}

/*
	Color menu
*/
#editorColors {
	width: 135px;
	background: #d4dde3;
	padding: 10px;
	overflow: hidden;
	position: absolute;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;		
}

#editorColors a {
	display: block;
	float: left;
	margin: 3px;
	cursor: pointer;
}

/*
	Smileys menu
*/
#smileys-popup {
	width: 95px;
	padding: 10px;
	background: #dae2e8;
	overflow: hidden;
	position: absolute;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

#smileys-popup a {
	display: block;
	float: left;
	margin: 3px;	
	cursor: pointer;
}